<%- include('partials/head.ejs') %>
</head>
<body>
  <%- include('partials/nav') %>
  <header class="bg-red-100 py-10 text-center  flex items-center justify-center">
    <div>
      <h1 class="text-4xl font-bold text-red-800 mb-4">404</h1>
      <p class="text-xl text-gray-700">Page not found on Airbnb</p>
    </div>
  </header>
</body>
</html>